@import url("mf-styling/src/color-primary-fuchsia.css");
@import url("mf-styling/src/color.css");
@import url("mf-styling/src/global.css");
@import url("mf-styling/src/layout.css");
@import url("mf-styling/src/nav.css");
@import url("mf-styling/src/table.css");
@import url("mf-styling/src/table-sort.css");
@import url("mf-styling/src/button.css");
@import url("mf-styling/src/form.css");
@import url("mf-styling/src/card.css");

.current {
  background-color: var(--color-accent-300);
  font-weight: bold;
}

.canvas {
  margin: 1em;
}
